extends ../shared/template

block content
  .row
    .col-md-2
    .col-md-8
      .well
        .jumbotron
          h1 Welcome to
          .nodehub-jumbo.center-block
          p.block.pull-right The fastest way to deploy your Node.js apps from GitHub.
    .col-md-2
